node_modules
dist
.expo
.turbo
.DS_Store
*.tgz
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

apps/example/ios/
apps/example/android/
packages/react-native-true-sheet/android/build/
packages/ui/android/build/
